*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(2,200px) / repeat(7,1fr);
    gap: 5px;
    height: 100vh; 
    grid-auto-flow: column;
    grid-auto-columns: 200px 200px 200px 200px;
    grid-auto-rows: 200px 200px 200px 200px;
}

.item{
    background-color: steelblue;
    border: 1px solid red;
    padding: 10px;
}

.item:nth-of-type(1){
    background-color: black;
    grid-column-start: 1;
    /*tercera linea*/
    grid-column-end: 4;
    grid-row: 1 / span 2;
}

.item:nth-of-type(2){
    background-color: green;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}

.item:nth-of-type(3){
    background-color: green;
    grid-column: 6 / span 2;
}
 
 