*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(4,1fr) / repeat(3,1fr);
    gap: 20px;
    height: 100vh; 
}

.item{
    background-color: steelblue;
}

.item:nth-of-type(1){
    background-color: black;
    grid-column-start: 1;
    /*tercera linea*/
    grid-column-end: 3;
}

.item:nth-of-type(7){
    background-color: green;
    grid-column: 2 / 4;
}

.item:nth-of-type(8){
    background-color: green;
    grid-column: 1 / -1;
}
 
 